<h1>About the Idea Book</h1>
<p>I created this Node/Express app whilst completing this <a href="https://www.udemy.com/nodejs-express-mongodb-dev-to-deployment">Udemy course</a>. The application lets you create, edit, and delete ideas privately, stored in a Mongodb database. So if you have an idea, but don't have the time to commit to it yet, note it down and comeback to it later!</p>
<p>Version: 1.0.0</p>

<div class="container">
  <a href="https://www.linkedin.com/in/burtonbiomedical/" class="waves-effect waves-light btn"><i class="fa fa-linkedin"></i> LinkedIn</a>
  <a href="https://github.com/burtonbiomedical/ideabook" class="waves-effect waves-light btn"><i class="fa fa-github"></i> GitHub</a>
</div>