<h1>About the Idea Book</h1>
<p>I created this Node/Express app whilst completing this <a href="https://www.udemy.com/nodejs-express-mongodb-dev-to-deployment">Udemy course</a>. The application lets you create, edit, and delete ideas privately, stored in a Mongodb database. So if you have an idea, but don't have the time to commit to it yet, note it down and comeback to it later!</p>
<p>Version: 1.0.0</p>