<!--The double curly braces allows us to pull a dynamic variable into our html-->
<div class="jumbotron text-center">
  <h1 class="display-3">
    {{title}}
  </h1>
  <p class="lead">
    Have you had an idea that you want to come back too? Jot it down here, so you never loose track of a thought.
  </p>
  <a href="/ideas/add" class="btn btn-dark lg">Add new idea</a>